[data-status="error"] {
  /*width: 100%;*/
  border: 6px solid red;
  border-radius: 6px;
  animation: bg-blink 1s step-end infinite;
  -webkit-animation: bg-blink 1s step-end infinite;
}

[data-status="error"]::before {
  content: "Chyba:[ ";
}

[data-status="error"]::after {
  content: " ]";
}

[data-status="error"]::before, [data-status="error"]::after {
  font-weight: bold;
} 

@keyframes bg-blink {
  0% {background-color: rgb(255,175,175)}
  50% {background-color: white}
}

@-webkit-keyframes bg-blink {
  0% {background-color: rgb(255,175,175)}
  50% {background-color: white}
}

[data-status="read"] {
  background-color: rgb(200,200,255);
}

[data-mode="modify"] {
  cursor: default;
}

[data-mode="add"] {
  cursor: copy;
}

[data-mode="del"] {
  cursor: not-allowed;
}

[contenteditable="true"] {
  border: 6px solid red;
  border-radius: 6px;
  animation: border-blink 1s infinite;
  -webkit-animation: border-blink 1s infinite;
  cursor: text !important;
}

[data-status="write"] {
  background-color: rgb(200,255,200);
}

[data-status]:hover {
  cursor: pointer;
}

@keyframes border-blink {
  0% {border-color: red}
  50% {border-color: blue}
  100% {border-color: red}
}

@-webkit-keyframes border-blink {
  0% {border-color: red}
  50% {border-color: blue}
  100% {border-color: red}
}

[data-del="true"] > td {
  border: 6px solid red;
  color: red;
  text-decoration: line-through;
  font-weight: 900;
}