html, body {
  font-size: 16px;
  font-family: Arial, Sans-Serif;
}

#statement {
  position: fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  border: none;
}

#app {
  box-shadow: #8a8a8a 3px 4px 30px;
  border-radius: 0.5em;
  border: 1px solid black;
  position: absolute;
  min-width: 300px;
  width: 500px;
  /*min-height: 100%;*/
  height: auto;
  top:0;
  right: 0;
  z-index: 1000;
  background-color: rgb(143, 220, 220);
  background-color: rgba(144, 220, 220, 0.8);
  background-image: linear-gradient(rgba(207, 255, 253, 0.8) 5%, rgba(144, 220, 220, 0.8) 50%, rgba(202, 239, 243, 0.8));
  padding: 0.4em 1em;
}

#footer {
  text-align: left;
}

#footer > a {
  font-size: 0.6em;
  color: rgb(68, 40, 16);
  font-family: monospace;
}

h1 {
  font-size: 1.2em;
  margin: 0.5em 0 0 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

h2 {
  font-size: 1em;
  margin: 0.2em 0;
}

b {
  font-weight: bold;
}

#filename {
  margin: 0.5em 0;
  font-weight: normal;
  font-size: 0.9em;
}

 .err, .msg, .tip {
   margin: 0;
   font-size: 0.9em;
   border-bottom: 1px dashed gray;
 }

.err {
  color: red;
}

.msg {
  color: rgb(2, 131, 22);
}

.typ {
  color: black;
}

#msgs, #logmsg, #logerr {
  margin: 3px 0;
  display: none;
  padding: 0.4em;
  border-radius: 5px;
  border: 1px solid #360404;
  clear: both;
}

#logmsg, #logerr {
 background-color: #ffffff;
}

#msgs {
  background-color: white;
}

#grabarea {
  width: 0.5em;
  display: none;
  position: absolute;
  border-radius: 0.5em 0 0 0.5em;
  left: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  cursor: w-resize;
  background-color: rgb(255,255,255);
  z-index: 10000;
  /*border: 1px solid rgba(0,0,0,0.5);*/
  background: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4) 5px,
    rgba(255,255,255,0.4) 5px,
    rgba(255,255,255,0.4) 10px
  );
}

#app:hover > #grabarea {
  display: block;
}

#editor, #loader {
  display: none;
}

.btn {
  font-weight: 500;
  border: 1px solid rgb(82, 47, 20);
  border-radius: 5px;
  padding: 0.3em 0.6em;
  margin: 0 3px 3px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.9em;
  background: rgb(255, 245, 203);
  background: linear-gradient(to bottom, rgb(242, 231, 199) 0%,rgb(241, 232, 198) 2%, rgb(171, 162, 128) 65%, rgb(252, 234, 197) 100%);
  box-shadow: 1px 1px 2px rgb(104, 98, 98);
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  float: left;
}

.btn:active {
  box-shadow: 3px 3px 5px rgb(10, 20, 100) inset;
}

.btn[disabled] {
  box-shadow: none;
  background: rgb(244, 239, 217)
}

/*tlačítka v odkazech predelat na a elementy*/
#recalculate, #editing-mode  {
  font-size: 1em;
  width: auto;
  height: 2.4em;
}

#recalculate {
  font-weight: bold;
}

select {
  display: inline;
  text-align: center;
}

/*Tiskový styl*/
@media print {
  #app, #statement {
    display: none;
  }
  body::after {
    color: red;
    font-size: 2em;
    content: "Tisk je bezpečný jen pomocí tlačítka tisk"
  }
}
